package io.terminus.pigrest.model.farm

import java.util.*

/**
* Desc:
* Author: <a href="ychp@terminus.io">应程鹏</a>
* Date: 17/3/15
*/
data class {{modelName}} (
{{#each columns}}
{{#if modelColumn}}{{javaColumn}}{{/if}} //{{comment}}{{/each}}
)